In [6]:
import pandas as pd
df = pd.read_csv('otgr.csv', delimiter = ';')

In [9]:
df

        ME_NUMCDE ME_LIVREA  ME_CPROIN ME_NQTUVC  AR_VOLSPCB TRUNC(ME_DATEXP)
0      PO0017KOH0      F189     768750        24         0.3       02.19.2019
1      PO0017KOH0      F189     716092        28         0.4       02.19.2019
2      PO0017KOH0      F189     594564        24         0.3       02.19.2019
3      PO0017KOH0      F189     640047        24         0.2       02.19.2019
4      PO0017KOH0      F189     640050        24         0.3       02.19.2019
...           ...       ...        ...       ...         ...              ...
55628  PO00160AJ0      S790      40147         1       144.0       12.10.2018
55629  PO00160AJ0      S790      40147         1       144.0       12.10.2018
55630  PO00160AJ0      S790      40147         1       144.0       12.10.2018
55631  PO00160AJ0      S790      40147         1       144.0       12.10.2018
55632  PA510004FG      S790      40147         1       144.0       12.10.2018

[55633 rows x 6 columns]

Подсчет значений в таблице

In [7]:
df.count()

ME_NUMCDE           55633
ME_LIVREA           55633
ME_CPROIN           55633
ME_NQTUVC           55633
AR_VOLSPCB          55633
TRUNC(ME_DATEXP)    55633
dtype: int64

In [20]:
df[['AR_VOLSPCB']].count()

AR_VOLSPCB    55633
dtype: int64

In [19]:
df.AR_VOLSPCB.count() #так будет лучше

55633

Агрегация данных

In [21]:
df.AR_VOLSPCB.sum()

348212.3999999999

In [40]:
df.AR_VOLSPCB.min()

0.0

In [30]:
df.AR_VOLSPCB.max()

202.8

Среднестатистическое значение

In [31]:
df.AR_VOLSPCB.mean()

6.259098017363793

Медиана

In [32]:
df.AR_VOLSPCB.median()

1.3

group by

In [39]:
df.groupby('ME_CPROIN').mean()

           AR_VOLSPCB
ME_CPROIN
21               18.0
55                0.7
56                0.7
117               3.6
118               3.5
...               ...
779987            2.0
779988            2.0
779989            2.0
785137           11.3
800172            3.4

[8238 rows x 1 columns]

Select всех артикулов с объемом штучки == 0

In [52]:
df[df.AR_VOLSPCB == 0][['ME_CPROIN']]

       ME_CPROIN
856       721378
1102      721378
1934      721378
2056      721378
2190      721378
...          ...
54202     721378
54374     686646
54549     721378
55061     721378
55524      15186

[181 rows x 1 columns]

In [64]:
df.groupby('ME_NUMCDE').median().AR_VOLSPCB

ME_NUMCDE
1907001029350     73.0
1907001029351    144.0
1911000936089    144.0
1911000936369      1.3
1919000936720      0.8
                 ...
PS00003P45        72.3
PS00003P50         0.6
PS00003P51         1.4
PS00003P6F         4.4
PS00003PB6        72.2
Name: AR_VOLSPCB, Length: 1098, dtype: float64

In [91]:
df[df.ME_LIVREA == 'S790'].groupby(['ME_LIVREA','ME_NUMCDE', 'TRUNC(ME_DATEXP)']).mean().AR_VOLSPCB

ME_LIVREA  ME_NUMCDE      TRUNC(ME_DATEXP)
S790       1920000936762  05.17.2019           48.6
           PA510004FG     12.10.2018          144.0
           PM0002QD5H     12.10.2018          144.0
           PO0015XPZ8     12.10.2018          144.0
           PO00160AJ0     12.10.2018          144.0
Name: AR_VOLSPCB, dtype: float64

In [ ]:
[['ME_NUMCDE', 'ME_LIVREA', 'AR_VOLSPCB']]